<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultEventsIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedTemplate">
              
              <!--Include templates in the index-->
              <eventDetails>{B90DC91E-2C06-4BE7-AC06-60F270A5ED4A}</eventDetails>
            </include>
            <include hint="list:AddIncludedField">
            
              <!--Include fields in the index-->
              <contentheading>{EEC60072-504B-4F6D-BB43-1E8D10A4E345}</contentheading>
              <contentintro>{5BB2F0C7-4BE3-4786-AA3D-6FC32F0FB4C2}</contentintro>
              <startdate>{7C7731FA-C91E-4AD2-A96A-2A1878011581}</startdate>
            </include>
            
          </documentOptions>
          <initializeOnAdd>false</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <!--<typeMatches hint="raw:AddTypeMatch" ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap/typeMatches/*"/>-->
            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetime" type="System.DateTime" fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="string" type="System.String" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- how fields are indexed -->

              <!-- Add your field configuration here -->
              <field fieldName="contentheading" returnType="text"></field>
              <field fieldName="contentintro" returnType="text"></field>
              <field fieldName="startdate" returnType="text" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'"></field>
            </fieldNames>

          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

        </defaultEventsIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>